.profile-container {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  border-radius: 15px;
  display: flex;

  .profile-container-information {
    width: 70%;
    .profile-container-header {
      border-bottom: 1px solid #fff;
      border-radius: 10px;

      img {
        border-radius: 10px;
        width: 100%;
        height: 125px;
        object-fit: cover;
      }
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .profile-container-body {
      background-color: #1d2226;
      border-radius: 10px;
      .card {
        border: none;
        position: relative;
        top: -80px;
        left: 45px;
        background-color: transparent;
        color: white;
        line-height: 3px;
        .card-title {
          font-size: 24px;
        }
        p {
          font-size: 13px;
        }
      }
      .MuiIconButton-root {
        position: relative;
        left: 180px;
        z-index: 9999;
        top: -125px;
        background-color: #000;
        svg {
          color: #fff;
          width: 20px;
          height: 20px;
        }
      }
      .MuiAvatar-root {
        width: 150px;
        height: 150px;
        position: relative;
        left: 62.5px;
        top: -62.5px;
        border: 2px solid #fff;
        padding: 5px;

        img {
          border-radius: 50px;
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .profile-container-friends {
    display: flex;
    width: 30%;
    justify-content: end;
    .MuiList-root {
      background-color: #1d2226;
      border-radius: 10px;
      width: 70%;
      color: #fff;

      .MuiAvatar-root {
        width: 30px;
        height: 30px;
      }
    }
    .friends-li {
      background-color: white;
      margin-left: 5px;
      border-radius: 10px;
      margin-right: 5px;
      color: #000;
      margin-bottom: 5px;

      .MuiListItemAvatar-root {
        margin-top: 0 !important;
      }
    }
  }
}
